* {
    padding: 0;
    margin: 0;
}

.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

body {
    font-size: 14px;
    line-height: 20px;
    color: #2c3e50;
    font-family: "KaiTi", "Arial", "Microsoft YaHei", "黑体", "宋体";
    font-weight: bold;
}

a {
    color: #2c3e50;
}

.content {
    margin: 0 auto;
    width: 100%;
}

.nav-bar {
    width: 100%;
    height: 70px;
    background: rgba(44, 51, 80, .8);
    color: #fff;
    position: fixed;
    top: 0;
    z-index: 999;
}

.n_container {
    padding: 0 15px;
    margin: 0 auto;
}

.nav-ul li {
    float: left;
    line-height: 70px;
    width: 100px;
    cursor: pointer;
    text-align: center;
}

.nav-ul li.active {
    background: #ef5350;
}

.nav-ul li:hover {
    background: rgba(239, 83, 80, .7)!important;
}

.more-nav {
    display: none;
    cursor: pointer;
    padding-top: 25px;
    font-weight: bold;
    font-size: 20px;
}

.nav-ul.nav-xs-ul {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    padding-bottom: 1em;
    background: #2c3e50;
    display: none;
}

.nav-ul.nav-xs-ul li {
    width: 100%;
    height: 3em;
    line-height: 3em;
    font-size: 14px;
    background: #2c3e50;
    cursor: pointer;
    text-align: center;
}

.section {
    width: 100%;
    min-height: 100vh;
    position: relative;
    padding-bottom: 20px;
    min-height: 700px;
}

.section h2 {
    text-align: center;
    font-size: 30px;
    line-height: 30px;
    color: #2c3e50;
    padding: 120px 0 0;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.section hr {
    height: 4px;
    width: 0px;
    text-align: center;
    position: relative;
    background: #ef5350;
    margin: 0 auto 80px;
    border: 0;
    transition: all 0.5s 0.2s;
}

.section.active hr {
    width: 70px;
    margin-bottom: 30px;
}

.fades,
.fade {
    transform: translateY(2em);
    -webkit-transform: translateY(2em);
    opacity: 0;
}

.section.active .fadesin {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    opacity: 1;
    transition: all 1s 0.2s;
}

.show_img {
    padding-top: 150px
}

.head_img {
    margin: 0 auto;
    text-align: center;
    width: 150px;
    height: 150px;
}

.head_img img {
    width: 100%;
    border-radius: 50%;
}

.author {
    font-size: 50px;
    color: #2c3e50;
    padding: 20px;
    /*transform: rotate(-5deg)*/
}

.enauthor {
    font-size: 30px;
    text-align: center;
    margin: 10px auto;
}

.author:before {
    position: absolute;
    content: "";
    width: 30px;
    height: 3px;
    background: #2c3e50;
    top: 28px;
    margin-left: -40px;
}

.author:after {
    position: absolute;
    content: "";
    width: 30px;
    height: 3px;
    background: #2c3e50;
    top: 28px;
    margin-left: 10px;
}

.offer {
    font-size: 16px;
    color: #2c3e50;
    text-align: center;
}

.info {
    text-align: center;
    padding-top: 20px;
    font-size: 16px;
    color: #2c3e50;
}

.experience-box {
    padding: 0 40px
}

experience {
    margin: 0 auto;
}

.experience:before {
    top: 250px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 2px;
    background-color: #e6e6e6;
    left: 50%;
    margin-left: 0px;
    z-index: -1;
}

.experice-list {
    margin-bottom: 20px;
    position: relative;
}

.experice-linfo {
    float: left;
    text-align: right;
    width: 45%;
}

.experice-rinfo {
    float: right;
    text-align: left;
    width: 45%;
}

.ex-title {
    font-size: 24px;
    margin-bottom: 8px;
    /*font-weight: bold;*/
}

.ex-company {
    color: #bfbfbf;
    font-size: 16px
}

.ex-icon {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 50%;
    top: 30px;
    margin-left: -25px;
    border-radius: 50%;
    background: #ef5350;
    color: #fff;
    padding-top: 15px;
    box-sizing: border-box;
    font-size: 20px;
    text-align: center;
}

.ex-work {
    text-align: center;
}

.ex-work span {
    background: #e6e6e6;
    border-radius: 5px;
    padding: 5px 10px;
    font-weight: bold;
    letter-spacing: 5px;
    font-size: 16px;
}

#Mycanvas {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    opacity: 0.6;
}

.name {
    font-weight: bold;
    line-height: 70px;
    color: #ffffff;
}


/*圆形进度条*/

.gradeCard {
    position: relative;
    height: 180px;
    margin: 0 auto;
    /*border: 1px solid #ccc;*/
    box-sizing: border-box;
}

.circle {
    width: 120px!important;
    height: 120px!important;
    padding: 0;
    margin: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
    /*box-sizing: border-box;*/
}

.status {
    box-sizing: border-box!important;
    padding: 0 10px;
    width: 100%;
}

.card {
    box-sizing: border-box;
    padding: 0 8px;
    position: relative;
}

.card:hover {
    transform: scale(1.1);
    transition: all .5s;
}

.card_content {
    padding: 20px 0;
    box-sizing: border-box;
    /*border: 1px solid #ccc;*/
    box-shadow: 2px 2px 5px #ccc;
    border-radius: 5px;
    margin-top: 15px;
}

.card_icon {
    padding: 20px 0;
    font-size: 40px;
}

.card_text {
    padding-top: 8px;
}

.fadeInUp {
    -webkit-animation: fadeInUp 1s forwards;
    animation: fadeInUp 1s forwards;
}

.op0 {
    opacity: 0;
}


/*作品*/

.works {
    position: relative;
    /*padding: 0 40px;*/
}

.mfigure {
    box-sizing: border-box!important;
    margin: 0 auto;
}

figure {
    width: 90%;
    margin: 0 auto;
    background: #eee;
    position: relative;
    overflow: hidden;
}

figure figcaption {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: all 1s;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    -moz-transition: all 1s;
}

figure img {
    transition: all 0.35s;
    opacity: 0.8;
    width: 50%;
    float: left;
}

figure figcaption h3,
p,
a,
div,
span {
    transition: 0.35s;
}

.translate1 {
    background: #804040
}

.translate1 figcaption h3 {
    font-size: 30px;
    opacity: 0;
    text-align: center;
    transform: translate(10px, 100px)
}

.translate1 figcaption p {
    transform: translate(10px, 170px);
    opacity: 0;
}

.translate1 figcaption p a {
    font-size: 16px;
    color: #2c3e50;
    padding: 0 10px;
}

.translate1:hover {
    background: #fff;
}

.translate1:hover figcaption h3 {
    transform: translate(10px, 120px);
    opacity: 1;
}

.translate1:hover figcaption p {
    transform: translate(10px, 140px);
    opacity: 1;
}

.translate1:hover img {
    opacity: 0.2;
}

.contact {
    width: 50%;
    font-size: 16px;
    margin: 0 auto;
    padding: 0 20px;
    box-shadow: 2px 2px 2px #bfbfbf;
}

.bottom {
    margin-top: 100px;
    text-align: center;
}

@media only screen and (max-width: 768px) {
    .nav-ul {
        display: none;
    }
    .more-nav {
        display: block;
    }
    .mobile-nav {
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        padding-bottom: 1em;
        background: #2c3e50;
        display: block;
    }
    .mobile-nav li {
        width: 100%;
        height: 3em;
        line-height: 3em;
        font-size: 14px;
        background: #2c3e50;
        cursor: pointer;
        text-align: center;
        float: none;
    }
    .experience:before {
        top: 250px;
        bottom: 0;
        position: absolute;
        content: " ";
        width: 2px;
        background-color: #e6e6e6;
        left: 40px;
        margin-left: 0px;
        z-index: -1;
    }
    .mex-work {
        text-align: left;
        margin-left: -30px;
    }
    .mexperice-info {
        float: right!important;
        text-align: left!important;
        width: 90%;
    }
    .ex-icon {
        position: absolute;
        width: 50px;
        height: 50px;
        left: 0%;
        top: 30px;
        margin-left: -25px;
        border-radius: 50%;
        background: #ef5350;
        color: #fff;
        padding-top: 15px;
        box-sizing: border-box;
        font-size: 20px;
        text-align: center;
    }
}

@media only screen and (max-width: 1224px) {
    .nav-ul.nav-xs-ul {
        display: none;
    }
    /*.nav-ul {
        display: block;
        float: right;
    }*/
}

@media screen and (max-width:600px) {
    .mfigure {
        width: 100%;
    }
}

@media screen and (min-width: 601px) and (max-width: 1100px) {
    .mfigure {
        width: 50%;
    }
}

@media screen and (min-width: 1100px) {
    .mfigure {
        width: 33.33333%;
    }
}